.main{
    width: 40vw;
    min-width:400px;
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.messages{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.userimg{
    width: 30px;
    border-radius: 15px;
}